@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #05060f;
  --foreground: #f7f9fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05060f;
    --foreground: #f7f9fb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
